.b-sidebar{
    inline-size: 22rem;
    block-size: 100%;
    background-color: var(--primary-color);

    .content{

        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-family);
        font-size: 2.4rem;
        color: var(--secondary-color);
        
        .logo-image{
            padding-top: 1.6rem;
        }

        .logo-title{
            padding-top: 0.5rem;
        } 

        .sidebar-button{
            margin: 0.4rem;
            width: 90%;
            padding: 0.8rem;
            padding-left: 2.4rem;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            display: flex;
            align-content: flex-start;
            font-size: 1.6rem;
            font-family: var(--font-family);
            
            &:hover{
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }

        }
        .active{
            background-color: var(--secondary-color);
            color: var(--primary-color);
        }
    }
}