<mat-sidenav-container class="b-sidebar">
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content class="content">
        <img src="../../assets/images/small_logo.svg" class="logo-image" alt="logo">
        <p class="logo-title">Expenses Manager</p>
        <a class="sidebar-button" mat-flat-button routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a class="sidebar-button" mat-flat-button routerLink="/expenses" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <mat-icon>list</mat-icon>
            Expenses list
        </a>
        <a class="sidebar-button" mat-flat-button routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
            <mat-icon>pie_chart</mat-icon>
            Reports
        </a>
        <a class="sidebar-button" mat-flat-button routerLink="/login" >
            <mat-icon>logout</mat-icon>
            Log Out
        </a>
    </mat-sidenav-content>
  </mat-sidenav-container>