.b-sidebar{
    inline-size: 25rem;
    block-size: 100%;
    background-color: var(--primary-color);

    .content{

        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:1.5rem;
        color: var(--secondary-color);
        
        .logo-title, .logo-image{
            margin: 0.3rem;
        }

        .sidebar-button{
            margin: 0.4rem;
            width: 90%;
            background-color: var(--primary-color);
            font-size:1rem;
            color: var(--secondary-color);
            display: flex;
            align-content: flex-start;
            
            &:hover{
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }

        }
        .active{
            background-color: var(--secondary-color);
            color: var(--primary-color);
        }
    }
}
