<mat-tab-group dynamicHeight animationDuration="0ms" (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let tab of tabs" [label]="tab">
      <ng-container [ngSwitch]="router.url">
        <ng-container *ngSwitchCase="'/home'">
          <h1>{{reloadService.getCurrentCurrency() + totalAmount}}</h1>
          <div class="b-home">
            <button mat-button class="add-expense-button" (click)="openDialog()">+</button>
          </div>
          <div style="margin-top: 15rem;"> 
            <app-daily-stats></app-daily-stats>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'/expenses'" style="font-family: 'Outfit', sans-serif !important;">
          <app-expense-table class="expenses-tab" selectedTab="{{tab}}"></app-expense-table>
        </ng-container>
        <ng-container *ngSwitchCase="'/reports'">
          <app-reports-overview selectedTab="{{tab}}"></app-reports-overview>
        </ng-container>
      </ng-container>
  </mat-tab>
</mat-tab-group>