<div class="datepicker">
  <app-datepicker selectedTab="{{selectedTab}}" [(startDate)]="startDate" [(endDate)]="endDate"(updateRequest)="update()"></app-datepicker>

</div>
<div class="container">
  <div class="stats">
    <app-daily-stats selectedTab="{{selectedTab}}" [startDate]="startDate" [endDate]="endDate"></app-daily-stats>
  </div>
  <div class="overview">
    <mat-card class="card" appearance="outlined" *ngFor="let category of filteredCategories"
      [ngStyle]="{'color': getCategoryColor(category.id)}">
      <mat-card-content>{{getCategoryDescription(category.id)}}</mat-card-content>
      <mat-card-content>{{categoryExpense.get(category.id)}}</mat-card-content>
    </mat-card>
  </div>
</div>
<app-evolution-chart selectedTab="{{selectedTab}}" [startDate]="startDate" [endDate]="endDate"></app-evolution-chart>