h1{
    margin-top: 3.5rem;
    font-size: 3.5rem;
    text-align: center;
}

.b-home{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    .add-expense-button{
        display: flex;
        align-items: center;
        justify-content: center;
        min-inline-size: 0rem;
        inline-size: 5rem;
        aspect-ratio: 1;
        background-color: var(--primary-color);
        color: white;
        border-radius: 100%;
        font-size: 4rem;
        font-weight: lighter;
    }
}