.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.chart-container {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem var(--shadow-color);
}

ngx-charts-pie-chart {
    margin-right: 1.25rem;
}

.legend-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.legend-container li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.legend-color {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    margin-right: 0.5rem;
    border-radius: 50%;
}


.mat-form-field {
    margin-bottom: 1.25rem;
}