<div class="chart-container">
  <div class="date-picker-container">
      <button mat-icon-button (click)="previousPeriod()">
          <mat-icon>chevron_left</mat-icon>
      </button>

      <div *ngIf="selectedTab=='Day'">
        <button mat-button (click)="openDatepicker(dayDatepicker)">
          {{ currentDate | date: 'EEEE - d MMMM y' }}
          <input matInput [matDatepicker]="dayDatepicker" class="hidden-datepicker-input" (dateChange)="onDateChange($event)" [max]="maxDate">
        </button>
      </div>

      <div *ngIf="selectedTab=='Week'">
        <button mat-button (click)="openWeekDatepicker(weekDatepicker)">
          <mat-date-range-input [rangePicker]="weekDatepicker" class="hidden-datepicker-input" [max]="weekMaxDate | date:'yyyy-MM-dd'"><
            <input matStartDate (dateChange)="setWeek($event)">
            <input matEndDate>
          </mat-date-range-input>
          {{ startDate | date: 'dd MMMM y' }}-{{ endDate | date: 'dd MMMM y' }}
        </button>
      </div>

      <div *ngIf="selectedTab=='Month'">
        <button mat-button (click)="openDatepicker(monthDatepicker)">
          {{ currentDate | date: 'MMMM y' }}
          <input matInput [matDatepicker]="monthDatepicker" class="hidden-datepicker-input" [max]="maxDate">
        </button>
      </div>

      <div *ngIf="selectedTab=='Year'">
        <button mat-button (click)="openDatepicker(yearDatepicker)">
          {{ currentDate | date: 'y' }}
          <input matInput [matDatepicker]="yearDatepicker" class="hidden-datepicker-input" [max]="maxDate">
        </button>
      </div>

      <button mat-icon-button (click)="nextPeriod()">
          <mat-icon>chevron_right</mat-icon>
      </button>

      <mat-datepicker #dayDatepicker></mat-datepicker>
      <mat-date-range-picker #weekDatepicker></mat-date-range-picker>
      <mat-datepicker #monthDatepicker
                      startView="year"
                      (monthSelected)="setMonth($event, monthDatepicker)">
      </mat-datepicker>  
      <mat-datepicker #yearDatepicker
                      startView="multi-year"
                      (yearSelected)="setYear($event, yearDatepicker)">
      </mat-datepicker> 
  </div>

  <hr class="red-divider"> <!-- Linia roșie vizibilă -->

  <div class="chart-and-legend">
      <ngx-charts-pie-chart
          *ngIf="showChart"
          [view]="[300, 300]"
          [results]="data"
          [legend]="false"
          [doughnut]="true"
          [labels]="false"
          [scheme]="colorScheme">
      </ngx-charts-pie-chart>

      <div class="legend-container" *ngIf="showChart">
          <ul>
              <li *ngFor="let category of getFilteredCategories()">
                  <span class="legend-color" [ngStyle]="{'background-color': category.color}"></span>
                  {{ category.description }}
              </li>
          </ul>
      </div>
  </div>

  <div *ngIf="!showChart" class="no-expenses-message">
      No expenses found! Please select another date.
  </div>
</div>
