<div class="dashboard-container">

  <!--
    <mat-form-field appearance="fill">
      <mat-label>Select Date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" placeholder="Choose a date">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  -->

  <div class="chart-container">
    <ngx-charts-pie-chart
      [view]="[300, 300]"
      [results]="data"
      [legend]="false"
      [doughnut]="true"
      [labels]="false"
      [scheme]="colorScheme">
    </ngx-charts-pie-chart>

    <div class="legend-container">
      <ul>
        <li *ngFor="let category of categories">
          <span class="legend-color" [ngStyle]="{'background-color': category.colorCode}"></span>
          {{ category.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
