<div class="chart-container" *ngIf="selectedTab=='Month' || selectedTab=='Year'">
    <div class="header">
      <p>Evolution</p>
    </div>
  
    <hr class="red-divider"> <!-- Linia roșie vizibilă -->
  
    <div class="chart-and-legend">
        <ngx-charts-bar-vertical-stacked
        *ngIf="showChart"
        [view]="[800, 150]"
        [results]="data"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showGridLines]="true"
        [xAxisTickFormatting]="formatXAxis">
      </ngx-charts-bar-vertical-stacked>
    </div>
  
    <div *ngIf="!showChart" class="no-expenses-message">
        No expenses found! Please select another day.
    </div>
  </div>
  