.container{
    display: grid;
    grid-template-columns: 22rem 1fr 40rem;
    height: 100%;
    padding-left: 0%;
    max-inline-size: unset;
}

.notifications{
    position:fixed;
    top: 2rem; 
    left: 2rem; 
    inline-size: calc(100% - 4rem);
    z-index: 1000; 
}