.container{
    display: grid;
    grid-template-columns: 22rem 1fr;
    height: 100%;
    float: left;
    padding-left: 0%;
}

.notifications{
    position:fixed;
    top: 2rem; 
    left: 2rem; 
    inline-size: calc(100% - 4rem);
    z-index: 1000; 
}