<div class="b-login">
    <div class="logo">
        <img class="logo-icon" src="../../assets/images/big_logo.svg" alt="logo">
        <h1 class="logo-text">Expenses Manager</h1>
    </div>

    <form class="login-form">
        <input class="username-input" type="text" placeholder="Enter User Name here" aria-label="username-input" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>

        <a mat-button class="login-button" type="submit" aria-label="login-button" (click)="loginUser()" routerLink="/" >Login</a>
    </form>
</div>
