<div class="b-login">
    <div class="logo">
        <img class="logo-icon" src="../../assets/images/big_logo.svg" alt="logo">
        <h1 class="logo-text">Expenses Manager</h1>
    </div>

    <form class="login-form">
        <div class="error">
            <p *ngIf="(usernameInput.invalid || isInvalidUsername(name)) && submitted">Username can not be empty</p>
        </div>
        <input class="username-input" type="text" placeholder="Enter User Name here" aria-label="username-input" [(ngModel)]="name" #usernameInput="ngModel"  [ngModelOptions]="{standalone: true}" required/>

        <a mat-button class="login-button" type="submit" aria-label="login-button" (click)="loginUser()" >Login</a>
    </form>
</div>
