.mat-list{
    inline-size: 40rem;
    block-size: 80%;
    overflow: auto;
    padding-top: 0rem;
}

.mat-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    block-size: 6.5rem;
}

.icon-image{
    margin-top: auto;
    margin-bottom: auto;
}

.mat-list h2{
    font-family: 'Outfit', sans-serif !important;
}

.mat-subheader{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-text-color) !important;
    margin-top: 0rem !important;
}

.category{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5rem;
}

.price-tag{
    font-size: 2.1rem;
    color: var(--text-danger-color);
    align-self: flex-end;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

div.horizontal-container{
    inline-size: 40rem;
    block-size: 7rem;
    display: flex;
    justify-content: center !important;
    align-items: center !important;

    h2{
        font-size: 2rem;
        font-weight: 500;
        margin-right: 3rem;
        font-family: 'Outfit', sans-serif !important;
        margin-bottom: 0rem;
    }
}

.mat-select{
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 8.5rem;
    block-size: 3rem;
    border: 0.1rem solid var(--input-border-color);
    border-radius: 0.8rem;
    font-family: 'Outfit', sans-serif !important;
}

mat-divider.outer-divider{
    inline-size: auto;
}