@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


html, body {   
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
    font-family: "Outfit", sans-serif !important; 
    font-size: 62.5%;
}

:root{
    --primary-color: #4F46E5;
    --secondary-color: #E9F0FF;
    --input-border-color: #646a77;
    --input-selected-border-color: #007bff;

    --food-restaurant-color: #46B1D9;
    --car-color: #5844E3;
    --subscriptions-color: #E047AB;
    --entertainment-color: #F78486;
    --coffee-color: #A1D12E;

    --background-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}
