.datepicker-wrapper {
    block-size: 4rem;
    margin-top: 5.6rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
    position: relative;

    .datepicker-buttons{
        display: flex;
        justify-content: space-between;
        height: 100%;

        .date-buttons{
            display: inline-flex;
            align-items: center;
            background: none;
            font-family: var(--font-family);
            font-weight: 600;
            border: none;
            background: none;
        }

        .date-picker-button{
            position: relative;
        }

        .hidden-datepicker-input {
            position: absolute;
            opacity: 0;
            inline-size: 0rem;
            block-size: 0rem;
            bottom: 1.2rem;
            left: 0.5rem;
          }
    }
}
  
::ng-deep .hide-change-view-button {
    display: none !important;
}